@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../font/Segoe UI.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('../font/Segoe UI Italic.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../font/Segoe UI Bold.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('../font/Segoe UI Bold Italic.woff') format('woff');
}

@font-face {
    font-family: 'Caladea Bold Italic';
    src: url('../font/Caladea-BoldItalic.ttf');
}

@font-face {
	font-family: "Montserrat";
	src: url('../font/MontserratSubrayada-Regular.ttf');
}

:root {
    --primary-color: rgba(13, 110, 139, 0.30);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.showcase h1{
    font-size: 3rem;
}

.showcase h5 {
    font-size: 1rem;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

.titre_principal {
    text-align: right;
    margin-right: 14%;
    font-family: 'Montserrat', sans-serif;
    color: #BBD2E7;
}

.showcase{
    height: 84vh;
}

.statut {
    margin-top: 1rem;    
}

.etudes{
    margin-top: 1rem;
}

.readmore{
    line-height: 40px;
}

.bouton_read_more{
    margin-top: 2rem;
    font-family: 'Segoe UI Regular', sans-serif;   
}

main{
    height: 10vh;
}

label{
    width: 20vw;
    border: 1px solid yellow;
    border-radius: 2px;
    padding: 5px;
    background-color: rgba(13, 110, 139, 0.80);
    color: white;
}

.bouton_read_more input[type=checkbox]:checked+.readmore {
    display: flex;
    flex-flow: column wrap;
}

.bouton_read_more input[type=checkbox]{
    display: none;
}

.readmore {
    text-align: center;
    width: 75vw;
    display: none;
    color: white;
    border: 1px solid yellow;
    border-radius: 2px;
    background-color: rgba(13, 110, 139, 0.80);
    margin-top: 0.3rem;
}

body{
    background: url('../icones/fond1.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    font-family: 'Caladea Bold Italic', sans-serif;
    line-height: 1.4;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 3vh;
}

.icones{
    display: flex;
    justify-content: center;
    opacity: 50%;
}
.linkedin{
    margin-left: 0.4rem;
}
.instagram{
    margin-left: 0.5rem;
}
.twitter{
    margin-left: 0.5rem;
}

.mentions_legales{
    width: auto;
    color: white;
    font-size: 1rem;
    margin-right: 1rem;
}

.mentions_legales a{
    color: #BBD2E7;
}

.mentions_legales_bis{
    width: 16vw;
}

@media screen and (max-width: 1030px)
{
    .showcase{
        height: 100%;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin-top: 1.5rem;        
    }

    .titre_principal{
        margin-right: 0%;
        font-family: 'Montserrat', sans-serif;
        color: #BBD2E7;
        text-align: center;
        margin-left: 0;
    }

    footer{
        flex-direction: column;
        justify-content: center;
    }

    .bouton_read_more{
        margin-bottom: 2rem;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
{

    .showcase h1{
        font-size: 2rem;
    }

    .showcase h5 {
        font-size: 1rem;
    }

    .mentions_legales a{
        color: #BBD2E7;
    }

    .mentions_legales{
        margin-right: 0rem;
    }

    .mentions_legales_bis{
        width: auto;
    }

    .readmore {
        text-align: center;
        width: 75vw;
        display: none;
        color: white;
        border: 1px solid yellow;
        border-radius: 2px;
        background-color: rgba(13, 110, 139, 0.50);
        margin-top: 0.3rem;
    }
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
{
    .showcase{
        height: 80vh;
    }

    .showcase h1{
        font-size: 2.5rem;
    }

    .showcase h5 {
        font-size: 1rem;
    }

    .statut {
        margin-top: 3rem;    
}

    .mentions_legales{
        margin-top: 1rem;
        margin-right: 0rem;
    }

    .mentions_legales a{
        color: #BBD2E7;
    }

    footer{
        height: 5vh;
    }
}

