@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../font/Segoe UI.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('../font/Segoe UI Italic.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../font/Segoe UI Bold.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('../font/Segoe UI Bold Italic.woff') format('woff');
}

@font-face {
    font-family: 'Caladea Bold';
    src: url('../font/Caladea-Bold.ttf');
}

@font-face {
    font-family: 'Caladea Bold Italic';
    src: url('../font/Caladea-BoldItalic.ttf');
}

@font-face {
    font-family: 'Caladea Italic';
    src: url('../font/Caladea-Italic.ttf');
}


@font-face {
    font-family: 'Caladea Regular';
    src: url('../font/Caladea-Regular.ttf');
}

@font-face {
	font-family: "Algerian";
	src: url('../font/Algerian Regular.ttf');
}

:root {
    --primary-color: rgba(13, 110, 139, 0.30);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header h1{
    text-align: center;
    margin-bottom: 5rem;
}

.presentation{
    width: 40%;
}

.photo_presentation{
    margin-top: 5rem;
    margin-left: 10rem;
    margin-bottom: 4.3rem;
}

.photo_presentation img{
    border-radius: 20px;
}

body{
    background: url('../icones/bandwidth-blancetnoir.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    font-family: 'Caladea Bold Italic', sans-serif;
    line-height: 1.4;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.container {
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
    padding: 0.3rem;
}

.showcase{
    background-color: var(--primary-color);
    color:#fff;
    height: auto;
    position: relative;
}

.showcase:before{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: right;
    height: 100%;
}

.icones{
    display: flex;
    margin: 0 auto;
    opacity: 70%;
}

.mentions_legales a{
    color: #BBD2E7;
    margin-right: 1rem;
}

@media screen and (max-width: 800px)
{
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .presentation{
        width: 60%;
    }

    .photo_presentation{
        margin-left: 0rem;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .icones{
        margin-bottom: 1rem;
    }
}   
