@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('font/Segoe UI.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('font/Segoe UI Italic.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('font/Segoe UI Bold.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('font/Segoe UI Bold Italic.woff') format('woff');
}

@font-face {
    font-family: 'Caladea Bold';
    src: url('font/Caladea-Bold.ttf');
}

@font-face {
    font-family: 'Caladea Bold Italic';
    src: url('font/Caladea-BoldItalic.ttf');
}

@font-face {
    font-family: 'Caladea Italic';
    src: url('font/Caladea-Italic.ttf');
}


@font-face {
    font-family: 'Caladea Regular';
    src: url('font/Caladea-Regular.ttf');
}

@font-face {
	font-family: "Algerian";
	src: url('font/Algerian Regular.ttf');
}

body{
	background: center no-repeat url('icones/semi-opened-laptop-computer-turned-on-on-table-2047905.jpg'), black;
	background-position:50% 50%;
}



.presentation{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	margin-left: 6rem;
}
	.titre_principal{
		color: #8C8E92;
		text-align: right;
		margin-bottom: 2rem;
	}
	.nom{
	font-family: 'Caladea Regular';
	text-decoration: underline;
}
	.prenom{
	font-family: 'Caladea Regular';
	text-decoration: underline;
	}


.statut{
	font-family: "Algerian";
	text-decoration: underline;
}


.mentions_legales{
	text-align: right;
	color: white;

}

.icones{
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: flex-end;
}
	.linkedin{
		background-color: white;
	}


.nav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	margin-left: 3rem;
}
	.menu-vertical{
	font-family: 'Segoe UI Italic';
	text-align: right;
	margin-left: 6rem;
}
	.niv0{
		margin-bottom: 3rem;
	}

.nav a{
	color: white;
	text-decoration:none;
}
.barre_verticale {
   position: absolute;
   height : 30%;
   bottom: 0;
   top: 16rem;
   left: 5rem;;
   width: 20px; /* A changer pour la largeur de ta barre */

}
