@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('font/Segoe UI.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('font/Segoe UI Italic.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('font/Segoe UI Bold.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('font/Segoe UI Bold Italic.woff') format('woff');
}

@font-face {
    font-family: 'Caladea Bold';
    src: url('font/Caladea-Bold.ttf');
}

@font-face {
    font-family: 'Caladea Bold Italic';
    src: url('font/Caladea-BoldItalic.ttf');
}

@font-face {
    font-family: 'Caladea Italic';
    src: url('font/Caladea-Italic.ttf');
}


@font-face {
    font-family: 'Caladea Regular';
    src: url('font/Caladea-Regular.ttf');
}

@font-face {
	font-family: "Algerian";
	src: url('font/Algerian Regular.ttf');
}

body{
	background:url('icones/photo_presentation_(1).png') no-repeat right,
	left no-repeat url('icones/fondcode.png');
	background-color: black;
}



.presentation{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: flex-start;
	margin-left: 6rem;
}
	.titre_principal{
		color: #8C8E92;
		text-align: right;
		margin-bottom: 3rem;
		margin-right: 20rem;
	}
	.nom{
	font-family: 'Caladea Regular';
	text-decoration: underline;
}
	.prenom{
	font-family: 'Caladea Regular';
	text-decoration: underline;

	}
.recherche_p{
	margin-right: 1.5rem;
}

.statut{
	font-family: "Algerian";
	text-decoration: underline;
}


.mentions_legales{
	font-family: 'Segoe UI Italic';
	text-align: right;
	color: white;

}

.icones{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 2rem;
}

.milieu{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

	.nav{
		margin-left: 3rem;
}
	.menu-vertical{
	font-family: 'Segoe UI Italic';
	text-align: right;
	margin-left: 6rem;
}
	.niv0{
		margin-bottom: 2.5rem;
}

.nav a{
	color: white;
	text-decoration:none;
}
.barre_verticale {
   position: absolute;
   height : 20%;
   bottom: 0;
   top: 17rem;
   left: 6rem;;
   width: 20px; /* A changer pour la largeur de ta barre */
}

.page2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	color: white;
}
	.about_me{
		color: #8C8E92;
		position: absolute;
		top: 10rem;
		font-family: 'Segoe UI Italic';
		margin-left: 23rem;
		border : red 1px solid;
		border-radius: 50px;
		padding-right: 40px;
		padding-left: 40px;
	}
	.description{
		color: #8C8E92;
		font-family: 'Segoe UI Bold Italic';
		font-size: 1.2rem;
		width: 25%;
		margin-left: 18rem;
		border : red 1px solid;
		border-radius: 50px;
		text-align: center;
		padding: 50px 50px 50px 50px;
	}

a{
	color: white;
	text-decoration:none;
}